* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

main {
    background: black;
}

.opacidade {
    opacity: 0.5;
    transition: opacity 0.3s;
    display: block;
}


.img-fundo {
    object-fit: cover;
    object-position: center;
}

.links {
    color: aqua;
}
.links:hover{
    color: blue;
    transition: 0.3s;
}

.fundo-card-header {
    background-color: black !important;
}